# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/*
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

.vscode
.vercel
*.code-workspace

*.env