langchain==1.0.3
langchain-core==1.2.26
langchain-classic==1.0.3
langchain-community==0.3.29
langchain-openai==1.1.12
langgraph==1.0.2
langgraph-prebuilt==1.0.2
langgraph-checkpoint==3.0.1
langgraph-checkpoint-postgres==3.0.5
langgraph-sdk==0.2.15
langsmith
fastapi
uvicorn
sse-starlette
python-dotenv
tavily-python==0.7.24
psycopg==3.3.3
psycopg-pool==3.3.0
psycopg-binary==3.3.3
